PROJECT_NAME=binticare
DATABASE_URL=postgresql+asyncpg://user:your_password@host/database_name?sslmode=require&channel_binding=require
DB_USERNAME=user
DB_PASSWORD=your_password
SECRET_KEY=your_secret_key
REDIS_URL=redis://localhost:6379/0
REDIS_PASSWORD=your_password

API = https://api.binticare.app/